<div class="main">
  <button class="work">Create a Work</button>
  <h1>DASHBOARD</h1>
  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile><mat-card>
      <mat-card-title>Completed Works</mat-card-title>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Incomplete Works</mat-card-title>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Pending Work Invitation</mat-card-title>
    </mat-card></mat-grid-tile>
  </mat-grid-list>






  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="completed">
    <h1>Completed Works</h1>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
      <li>Completed works boissss</li>
  </div>

</div>


