<div class="main">
  <button class="work" routerLink="/create-work">Create a Project</button>
  <h1 align="center">DASHBOARD</h1>
  <br>
<div class="completed">
<app-completed></app-completed>
</div>
  <div class="invite">
    <app-work-invite></app-work-invite>

  </div>
  <div class="pie">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            responsive = true
            maintainAspectRatio = false></canvas>
  </div>
  <br>
  <div class="current">
    <app-current-work></app-current-work>

  </div>

</div>



