.current{
  margin-left: 40px;
  float: left;
  width: 20%;
  color: black;
  background: white;
}
.pending{
  margin-left: 40px;
  float: right;
  width: 20%;
  color: black;
  background: white;
}
.completed{
  margin-left: 40px;
   color: black;
   background: white;
 }

.main{
  background: whitesmoke;
  width: 100%;
  alignment: center;
 }
.main mat-card{
}
.work{
  float: right;
  color: #13547a;
  border-radius: 20px;
  font-size: 20px;
  background: white;
}
