.accept{
  background: greenyellow;
  color: white;
}
.accept:hover {
  background: lightgreen;
  color: white;

}

.reject{
  background: red;
  color: white;

}
.reject:hover {
  background: darkred;
  color: white;

}
.dialogbox{
  min-height: 300px;
  min-width: 500px;
}
