.workform{
  text-align: center;
  width: 100%;
  background: whitesmoke;
  height: 100vh;
}
.participants {
  width: 500px;
  height: 200px;
  border-color: white;
  font-size: 18px;
  background: white;
  alignment: center;
  text-align: center;
  align-items: center;

}
.list{
  display: inline-block;
  margin-left: 20px;
  alignment: center;
}

textarea{
  width: 500px;
  height: 200px;
  border-color: white;
}
input{
border: none
}

.submit{
  border-radius: 20px;
  width: 600px;
  alignment: center;
}
i{
  color: red;
}
