<div class="workform">
  <h1>CREATE YOUR PROJECT</h1>
<p>Project Title</p>
  <input placeholder="Project title..." [(ngModel)]="Title">
  <p>Short Description</p>
  <textarea placeholder="Description..." [(ngModel)]="Description"></textarea>
  <p>Add Participants</p>
  <input placeholder="Participant's email..." name="participants"  type="email" [(ngModel)]="participants"><button (click)="added()" [disabled]="(count>10)">Add</button>
    <br>
    <br>
  <p>Added Team Members :</p>

  <div *ngFor="let add of adds" class="list">
    <p>{{add}} <i class="glyphicon glyphicon-remove" (click)="deleteMember(add)"></i>
    </p>
  </div>
  <br>
  <br>
  <button class="submit" (click)="Submit()"> Create Your Project</button>
  <h3 align="center">{{message}}</h3>

</div>
